.header_top {
    background-color: $primary-color !important;
    display: flex;
    flex-direction: column;

    .header_top-wrap {
        display: flex;

        .logo {
            flex: 1;
            display: flex;
            justify-content: center;

            img {
                height: 90px;
            }
        }

        .menu {
            flex: 3;
        }
    
        .header_top_right {
            flex: 3;
        }
    }


    .search_box {
        flex: 3;
    }

    .shopping_cart {

        .cart {
            
            a {
                display: flex;
                align-items: center;
                
                &:hover {
                    text-decoration: none;
                }

                span {
                    // margin-left: 10px;
                    // color: #000 !important;
                    display: none;
                }
            }
        }
    }

    .login {
        flex: 1;
        background-color: transparent;
        border: none;
        
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            color: #fff;
            background-color: $secondary-color !important;
            border-radius: 10px;
            font-size: 13px !important;
            width: max-content !important;
            cursor: pointer;
            transition: all .3s;
            border: 1px solid transparent;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
                background-color: transparent !important;
                color: $secondary-color;
                border-color: $secondary-color;
            }

            span {
                transform: translateY(-1px);
            }
        }
    }
}